<div *ngIf="viewMode; else editable">
    <div *ngIf="currentProduct.id">
        <h4>Product</h4>
        <div>
            <label><strong>Title:</strong></label> {{ currentProduct.title }}
        </div>
        <div>
            <label><strong>Description:</strong></label>
            {{ currentProduct.description }}
        </div>
        <div>
            <label><strong>Number:</strong></label>
            {{ currentProduct.number }}
        </div>
        <div>
            <label><strong>Price:</strong></label>
            {{ currentProduct.price }}
        </div>
        <div>
            <label><strong>Status:</strong></label>
            {{ currentProduct.status ? "On" : "Off" }}
        </div>
        <a class="badge badge-warning" routerLink="/product/{{ currentProduct.id }}">
            Edit
        </a>
    </div>
    <div *ngIf="!currentProduct">
        <br />
        <p>Please click on a Product...</p>
    </div>
</div>
<ng-template #editable>
    <div *ngIf="currentProduct.id" class="edit-form">
        <h4>Product</h4>
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="currentProduct.title" name="title" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="currentProduct.description"
                    name="description" />
            </div>
            <div class="form-group">
                <label for="number">Number</label>
                <input type="text" class="form-control" id="number" [(ngModel)]="currentProduct.number"
                    name="number" />
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" [(ngModel)]="currentProduct.price"
                    name="price" />
            </div>
            <div class="form-group">
                <label><strong>Status:</strong></label>
                {{ currentProduct.status ? "On" : "Off" }}
            </div>
        </form>
        <button class="badge badge-primary mr-2" *ngIf="currentProduct.status" (click)="updateStatus(false)">
            UnPublish
        </button>
        <button *ngIf="!currentProduct.status" class="badge badge-primary mr-2" (click)="updateStatus(true)">
            Publish
        </button>
        <button class="badge badge-danger mr-2" (click)="deleteProduct()">
            Delete
        </button>
        <button type="submit" class="badge badge-success mb-2" (click)="updateProduct()">
            Update
        </button>
        <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentProduct.id">
        <br />
        <p>Cannot access this Product...</p>
    </div>
</ng-template>